body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    font-size: 16px;
    margin: 0;

    min-height: 100vh;

    background: linear-gradient(to right, #000000, #191919);
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.header {
    background-color: #393939;

    box-shadow: 0 1rem 2rem #393939;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 7rem;
    width: 100%;


}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 24rem;

    margin-left: 9rem;
    padding-left: 3rem;
}
.logo img {
    height: 5rem;
    width: 4.2rem;
}
.logo h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;

    margin: 0 0 0 0.5rem;

    color: white;
}


.use_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 65rem;
    margin: 2rem;

    gap: 5rem;
}
.use_buttons button {
    background: rgba(0, 0, 0, 0);
    border: none;

    color: white;
    font-size: 1.5rem;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.use_buttons button:hover {
    text-shadow: 0 0 0.2rem white;
}


.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 20rem;
    margin-right: 9rem;
}
.account img {
    height: 3.5rem;
    width: 3.7rem;
    border-radius: 70%;
    border: 5px solid white;
}
.account button {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: white;

    background: rgba(0, 0, 0, 0);
    border: none;

    margin: 0 1rem  0 0;
}


.main-block {
    display: none;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 80%;
    padding: 1rem 1rem 1rem 1rem;

    background: linear-gradient(to top right, #222222, #303030);
    border-radius: 2rem;
    box-shadow: 0 0 2rem #222222;
}
.main-block.active {
    display: flex;
}
.main-block img {
    width: 7rem;
    height: 8rem;
}
.main-block h1 {
    color: white;
    font-size: 3rem;
    font-family: "inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -0.01em;

    margin-top: -0.6rem;

}


.info-switchers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    background-color: black;

    gap: 2rem;
    height: 3rem;
    width: 55%;
}
.info-switchers button {
    background: rgba(0, 0, 0, 0);
    border-radius: 2rem;
    border: none;

    color: white;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.01em;
}
.info-switchers button:hover {
    text-shadow: 0 0 0.2rem white;
    font-size: 1.8rem;
}

.info-buttons.active {
    text-shadow: 0 0 0.5rem white;
}
.info-buttons {
    text-shadow: 0 0 0 0;
}


.info-block {
    display: none;

    padding: 1rem;

    font-size: 1.4rem;
    color: white;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;

    word-wrap: break-word;
}
.info-block.active {
    display: block;
}


.account-window {
    display: none;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 50%);
}
.account-window.active {
    display: flex;
}


.account-window-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem;

    background: linear-gradient(to top right, #000000, #232323);
    border-radius: 2rem;
    border: 2px solid #787878;

    width: 40%;
    height: 60%;
}


.exit-account-window {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 10%
}
.exit-account-window button {
    border-radius: 3rem;
    background: rgb(120 120 120);
    border: none;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 1rem;

    width: 100%;
    height: 5%;
}
.exit-account-window button:hover {
    transform: scale(1.05);
}